
html * {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
}

h1 { margin-bottom: 0.5em }

p { margin-top: 0.5em; margin-bottom: 0.5em }

td { line-height: 0 }

input[type=button] {
  padding: 0.4em 0.5em;
  border-radius: 0.2em;
  box-shadow: 0 0 0.4em -0.2em;
  background: linear-gradient( -5deg, #448, #559 );
  color: #76c;
  font-weight: bold;
}

input[type=button]:hover {
  box-shadow: 0 0 0.4em 0em;
  background: linear-gradient( -5deg, #448, #66a );
  color: #98e;
}

fieldset {
  display: inline-block;
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
}

legend { padding: 0  0.2em }

#charset { display: inline-block }
#charset td { border: 0.1em solid black }
#charset td:hover { border-color: white }

#editor_box { display: inline-block; vertical-align: top; margin-left: 0.5em }

#editor td { width: 32px; height: 16px }
#editor.hi-res td { width: 16px }

#editor_box p {
  font-family: monospace
}

#buttons { display: inline-block; margin-top: 0.5em; vertical-align: top }

#mode { margin-left: 0.5em }
#mode >div { margin: 0.1em  0.2em }

#colors { display: inline-block; margin-top: 0.5em; float: right }
#colors >div { text-align: right }
#colors span { vertical-align: top; margin-right: 0.3em; color: #999; cursor: pointer }
#colors span:hover { color: #333 }
#colors span.on_brush { color: black }
#colors table { display: inline-block }
#colors td {
  width: 1em;
  height: 1em;
}

#charset, #editor, #macro, #colors table { border-collapse: collapse }
#editor td:hover, #colors td:hover, #macro canvas:hover { box-shadow: 0 0 0.3em }

#upload_dialog, #download_dialog {
  position: absolute; top: 10%; left: 50%;
  display: none;
  z-index: 9;
}

#upload_dialog >div, #download_dialog >div {
  margin-left: -50%;
  margin-right: 50%;
  padding: 1em;
  background: #cde;
}

textarea {
  border: 0.1em solid #ccc;
  position: relative; left: 1%;
  width: 98%;
}

#close_button, #really_upload_button {
  float: right;
}

