
html * {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5em 1em;
}

p { margin-top: 0.5em; margin-bottom: 0.5em }

ul { padding-left: 2em }
li { margin-top: 0.7em; margin-bottom: 0.7em }

dt, dd { padding-top: 0.3em }
dt {
  float: left;
  clear: both;
  width: 4em;
  font-weight: bold;
}

td { line-height: 0 }

textarea {
  border: 0.1em solid #ccc;
  position: relative; left: 1%;
  width: 98%;
}

input[type=button] {
  padding: 0.4em 0.5em;
  border-radius: 0.2em;
  box-shadow: 0 0 0.4em -0.2em;
  background: linear-gradient( -5deg, #448, #559 );
  color: #76c;
  font-weight: bold;
}

input[type=button]:hover {
  box-shadow: 0 0 0.4em 0em;
  background: linear-gradient( -5deg, #448, #66a );
  color: #98e;
}

fieldset {
  display: inline-block;
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
}

legend { padding: 0  0.2em }

#charset { margin-bottom: 0.5em }
#charset td { border: 0.1em solid black }
#charset td:hover { border-color: white }

#editor_box {
  display: inline-block;
  vertical-align: top;
}
#editor td { width: 32px; height: 16px }
#editor.hi-res td { width: 16px }

#selected_character_code { vertical-align: top; font-family: monospace }
#color_sources { display: inline-block; margin-left: 0.5em }
#color_sources > div {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border: 0.2em solid #ccc;
  cursor: pointer;
}
#color_sources >div.on_brush { border-bottom: none }

#animation_section {
  display: inline-block;
  vertical-align: top;
}
#animation_section input {
  width: 2em;
  padding: 0.2em;
  background: #eee;
}

#controls { display: inline-block; vertical-align: top }
#buttons { margin: 0.7em }

#mode { margin-left: 0.5em }
#mode >div { margin: 0.1em  0.2em }

#tile_editor, #world { display: inline-block }
#editor td, #tile_palette canvas, #tile_editor canvas, #world canvas { opacity: 0.9 }
#editor td:hover, #tile_palette canvas:hover, #tile_editor canvas:hover, #world canvas:hover { opacity: 1 }
#tile_editor { vertical-align: top }
#charset, #editor { border-collapse: collapse }

.dialog {
  position: absolute; top: 10%; left: 50%;
  display: none;
  z-index: 9;
}

.dialog >div {
  margin-left: -50%;
  margin-right: 50%;
  padding: 1em;
  background: #cde;
  box-shadow: 0 0 0.4em -0.2em;
}

#palette_dialog table { display: inline-block; margin-right: 1em }
#palette_dialog td { width: 1em; height: 1em }
#palette_dialog td.color { cursor: pointer }

#tile_palette >div, #tile_editor >div, #world >div { line-height: 0; white-space: nowrap }

#help_dialog { min-width: 50% }

#close_button, #really_upload_button {
  float: right;
}

